.projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin-top: 100px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.project-card {
    padding: 1rem;
    transition: 200ms ease-in-out;
}

.project-card:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

button {
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: 200ms ease-in-out;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: translateY(2px)
}

@media (max-width: 624px) {
    .card-img-top {
        margin-top: 50px;
        width: 70%;
    }
}

@media (max-width: 524px) {
    .projectContainer {
        margin-top: 30px;
    }

    .sectionTitle {
        margin-bottom: 0px;
    }

    .projects {
        gap: 50px;
    }

    .project-card {
        padding: 0rem;
    }
}